.grayColor {
  background-color: #e2e2e2;
}

.grayColor:hover {
  background-color: #bdbdbd;
}

.darkGray {
  background-color: #999;
}

.orangeColor {
  background-color: darkorange;
}

.orangeColor:hover {
  background-color: orange;
}

.calc {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 110px;
  padding-top: 60px;
  align-items: flex-start;
}

.calculator {
  width: calc(203px * 4);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 75px);
  grid-gap: 2px;
}

.result {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  align-items: center;
  font-size: 1.9em;
  width: 818px;
  height: 75px;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.twoTimesWidth {
  grid-column-start: 1;
  grid-column-end: span 2;
}
